.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 50px 0 50px;
  z-index: 3;
  font-size: 20px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__right-btn {
    position: relative;
    display: block;
    padding: 12px 40px;
    color:var(--color-black);
    margin-right: 30px;
    border: 1px solid var(--color-black);
    border-radius: 25px;

    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background-color: #7DFF8A;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      border-radius:50%;
    }
  }
  &__right-burger {
    display: flex;
    align-items: center;
    color:var(--color-black);

    button {
      display: block;
      margin-left: 15px;
    }
  }
  .logo {
    width: 75px;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.header-nav{
}

.nav {
  opacity: 1;
  transition: opacity .5s ease;
  &--active {
    opacity: 0;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
  &__link {
    display: flex;
    position: relative;
    overflow: hidden;
    color:var(--color-black);
    transition: color .3s ease-in-out, transform .3s linear;
    will-change: transform;
    span {
      display: inline-block;
      transition: transform .5s ease-in-out;
      will-change: transform;
    }
  }
}

.burger {
  @include burger;
}


.full-menu-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding-top: 130px;
  background: linear-gradient(203.7deg,#fff 48.1%,#eeebeb 86.02%);
  overflow-y: auto;
  z-index: 2;
  transform: translate(10%,-150%) rotate(12deg);
  opacity: 0;
  transition: transform .75s ease, opacity .75s ease;
  &--active {
    opacity: 1;
    transform: none;
  }
  .logo  {
    display: inline-block;
  }
  &__inner {
    display: flex;
    align-items: start;
    height: 100%;
    padding-top: 130px;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 30px;
    color: var(--color-black);
    opacity: .5;
  }
}

.full-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-content: center;
  &__list {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  a {
    font-size: 48px;
    line-height: 120%;
    color: var(--color-black);
    text-align: left;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  margin-right: 350px;

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__list-link {
    display: block;
    font-size: 20px;
    color: var(--color-black);
  }
}


