.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 50px 0 50px;
  z-index: 3;
  font-size: 20px;
  // mix-blend-mode: difference;
  * {
    color: var(--color-black);
    // color: #fff;
    border-color: var(--color-black);
    transform: color .3s ease, border-color .3s ease;
  }
  &--black {
    * {
      color: #f7f5f5;
      border-color:#f7f5f5;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__right-btn {
    position: relative;
    display: block;
    padding: 12px 40px;
    // color:var(--color-black);
    margin-right: 30px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background-color: #7DFF8A;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      border-radius:50%;
    }
  }
  &__right-burger {
    display: flex;
    align-items: center;
    // color:var(--color-black);

    button {
      display: block;
      margin-left: 15px;
    }
  }
  .logo {
    width: 75px;
    background-color: #fff;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.header-nav{
}

.nav {
  opacity: 1;
  transition: opacity .5s ease;
  &--active {
    opacity: 0;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
  &__link {
    display: flex;
    position: relative;
    overflow: hidden;
    // color:var(--color-black);
    transition: color .3s ease-in-out, transform .3s linear;
    will-change: transform;
    span {
      display: inline-block;
      transition: transform .5s ease-in-out;
      will-change: transform;
    }
  }
}

.burger {
  @include burger;
}


