@font-face {
  font-family: 'Winter Sans Trial';
  font-weight: 200;
  font-style: normal;
  src: local("DMSans-Regular"),
    url("../fonts/WinterSansTrial-ExtraLight.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Winter Sans Trial';
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"),
    url("../fonts/WinterSansTrial-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Cera Pro';
  font-weight: 900;
  font-style: normal;
  src: local("DMSans-Regular"),
    url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-display: swap;
}
